ul.list-group-flush {
    padding: 0;
}

button.btn {
    margin-bottom: 1rem;
}

.card {
    margin-bottom: 2rem;
}

@mixin numCol($prop) {
    numCol: 1;
    @media (min-width: 768px){
        numCol: 2;
    }

    @media (min-width: 1200px){
        numCol: 3;
    }
}

:export {
    numCol: numCol(numCol);
}