<p>donation-list works!</p>
<div class="row">
    <div class="col" *ngFor="let donation of donations">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Donation {{donation.donationId}}</h5>
                    <h6 class="card-subtitle">{{ donation.dateReceived }}</h6>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let item of donation.itemsDonated">
                            {{ item.name }}
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</div>
