<h1 class="jumbotron text-center bg-secondary">Inventory List</h1>

<div class="text-center">
    <form>
        <input type="text" [(ngModel)]="nameQueryTerm" name="queryString">
        <button type="submit" (click)="queryByName($event)">Submit</button>
    </form>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Item Quantity</th>
        </tr>
    </thead>
    <tbody>
        <th>
            <tr *ngFor="let inventory of inventorys">{{inventory.foodItemName}}</tr>
        </th>
        <th>
            <tr *ngFor="let inventory of inventorys">{{inventory.foodItemQuantity}}</tr>
        </th>
    </tbody>
</table>