<h1 class="jumbotron text-center bg-secondary">Inventory List</h1>

<div class="text-center mb-4">
    <form>
        <input color="form-control"type="text"  name="queryString" (input)="fuzzySearch($event)">
        <!-- [(ngModel)]="nameQueryTerm" -->
    </form>
</div>

<table class="table table-striped table-bordered">
    <thead class="bg-secondary">
        <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Item Quantity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inventory of inventorys"> 
            <td>{{inventory.foodItemName}}</td>
            <td>{{inventory.foodItemQuantity}}</td>
        </tr>
    </tbody>
</table>