
<div class="row">
    <div class="col-md-6">
        <app-donation-list></app-donation-list>
    </div>
    <div class="col-md-6">
        <!-- TODO: Add Donation-detail component -->
        <app-donation-detail *ngIf="selectedDonation" [donation]="selectedDonation"></app-donation-detail>
    </div>
</div>
