/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import '~bootstrap/scss/_mixins';
// All but danger are pulled from the Universities Style guides...
$theme-colors: (
  primary: #046A38,
  danger: #be7c4d,
  light: #fff6dc,
  dark: #27251F,
  warning: #B9975B,
  secondary:#c3d7a4
);
/* finally, import Bootstrap */
@import "~bootstrap/scss/bootstrap";

body{
  background-color: theme-color(light) !important;
}

.navbar-light .navbar-brand,
.navbar-light .nav-item .nav-link,
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link{
  color: theme-color(light);
}