<h1 class="jumbotron text-center bg-secondary">Statistics</h1>
<form [formGroup]="dateForm" class="row">
    <div class="col-md-3 offset-md-2 text-center">
        <label>From Date:</label>
        <input type="date" formControlName="fromDate">
    </div>
    <div class="col-md-3 text-center">
        <label>To Date:</label>
        <input type="date" formControlName="toDate">
    </div>
    <div class="col-md-4 text-left">
        <button class="btn btn-primary" (click)="fetchStats()">Submit</button>
    </div>
    
</form>

<!-- Stats here -->
<div class="container-fluid mt-4">
    <div *ngIf="(statsObj$ | async) as statsObj">
        <ul class="list-group text-center">
            <li class="list-group-item bg-secondary">
                Most Frequenct Donor: {{statsObj.mostFrequentDonor}} 
            </li>
            <li class="list-group-item bg-secondary">
                Average Weight: {{statsObj.avgWeight}}
            </li>
            <li class="list-group-item bg-secondary">
                Max Weight: {{statsObj.maxWeight}}
            </li>
            <li class="list-group-item bg-secondary">
                Min Weight: {{statsObj.minWeight}}
            </li>
            <li class="list-group-item bg-secondary">
                Total Weight: {{statsObj.totalWeight}}
            </li>
            <li class="list-group-item bg-secondary">
                Most Donated Item: {{statsObj.mostDonatedItem}}
            </li>
            <li class="list-group-item bg-secondary">
                Number of Items Donated: {{statsObj.numberOfItemsDonated}}
            </li>
        </ul>
    </div>
</div>

