<h1 class="jumbotron text-center bg-secondary">Statistics</h1>
<form [formGroup]="dateForm" class="row">
    <div class="col-md-3 offset-md-2 text-center">
        <label>From Date:</label>
        <input type="text" formControlName="fromDate">
    </div>
    <div class="col-md-3 text-center">
        <label>To Date:</label>
        <input type="text" formControlName="toDate">
    </div>
    <div class="col-md-4 text-left">
        <button class="btn btn-primary" (click)="fetchStats()">Submit</button>
    </div>
    
</form>

<!-- Stats here -->
<div class="container mt-4">
    <div *ngIf="(statsObj$ | async) as statsObj">
        <div class="row justify-content-center">
            <p>Most Frequenct Donor: {{statsObj.mostFrequentDonor}}</p>
        </div>
        <div class="row justify-content-center">
            <p>Average Weight: {{statsObj.avgWeight}}</p>
        </div>
        <div class="row justify-content-center">
            <p>Max Weight: {{statsObj.maxWeight}}</p>
        </div>
        <div class="row justify-content-center">
            <p>Min Weight: {{statsObj.minWeight}}</p>
        </div>
        <div class="row justify-content-center">
            <p>Total Weight: {{statsObj.totalWeight}}</p>
        </div>
        <div class="row justify-content-center">
            <p>Most Donated Item: {{statsObj.mostDonatedItem}}</p>
        </div>
        <div class="row justify-content-center">
            <p>Number of Items Donated: {{statsObj.numberOfItemsDonated}}</p>
        </div>
    </div>
</div>

